.app{
    display: grid;
    place-items:center;
    background-color: #1A1A1A;;
    height: 100vh;
}

.logo{
    position: absolute;
    width: 333px;
    height: 64px;
    left: 40px;
    top: 25px;

    font-family: ZCOOL KuaiLe;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 45px;
    /* identical to box height */


    color: #FF9900;
}